__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo

venv/
env/
.env
*.env

db.sqlite3
/media/
staticfiles/

logs/
*.log
*.out
*.err
gunicorn_error.log

.vscode/

.DS_Store

.idea/
ssl/

/frontend/node_modules/
