@use "../helpers" as *;

.hero{
  padding-block: rem(40);
  gap: rem(56);
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
  left: calc(50% - #{rem(650)});
  overflow: hidden;

  @include container{
    left: 0;
  }

  @include laptop{
    padding-left: rem(20);
    gap: rem(20);
  }

  @include container{
    gap: 0;
  }

  @include tablet{
    padding: 0;
    padding-bottom: rem(90);
    height: 90vh;
  }

  &__advantages{
    position: relative;
    left: calc(50% - #{rem(650)});
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: rem(34) rem(32);
    gap: rem(10);
    width: rem(668);
    height: rem(582);
    

    background: url("images/cta-request/BG-CTA-Container.png") 0 0/cover no-repeat;
    border-radius: 20px;

    @include container{
      @include visually-hidden()
    }

    &-action{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: rem(24);
      margin: 0 auto;

      @include tablet{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }

      @include mobile{
        flex-direction: column;
        // align-items: flex-start;
      }
    }

    &-button{
      white-space: nowrap;
      font-size: rem(24);
      line-height: rem(17);
      padding: rem(32) rem(50);
      justify-content: center;
      align-items: center;
      width: rem(468);
      height: rem(80);
      background: var(--color-blue) !important;
      border-radius: rem(16);
      color: var(--color-white) !important;
      font-family: var(--font-family);
      font-size: rem(24);
      line-height: rem(31);

      @include mobile{
        padding: rem(22) rem(50);
        font-size: rem(20);
        line-height: normal;
        width: 100%;
      }
    }

    &-contacts{
      display: flex;
      column-gap: rem(32);
      justify-content: center;

      @include mobile{
        column-gap: rem(32);
      }

      // &-item{
      //   display: flex;
      //   justify-content: center;
      //   background-color: var(--color-white);
      //   border-radius: 100%;
      //   width: rem(50);
      //   height: rem(50);

      //   @include hover{
      //     background-color: var(--color-gray-100);
      //   }
      // }
    }

    &-mobile{
      padding-top: rem(32);
      padding-inline: rem(20);
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
      width: 100%;
      height: 80%;
    }

    &-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: rem(60);

      width: 100%;
      height: rem(278);

    }

    &-header {
      font-family: 'TT Firs Neue';
      font-style: normal;
      font-weight: 600;
      font-size: rem(42);
      line-height: 110%;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white)
    }

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 20px;

      width: 100%;
      height: auto;
    }

    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(24);
      
      width: rem(188);
      height: auto;

      @include hover{
        .hero__advantages-label{
          color: var(--color-black);
        }
        .hero__advantages-value {
          color: var(--color-blue);
        }
      }

      @include tablet{
        padding: rem(12) rem(16);
        width: 100%;
        height: 100%;
      }
    }

    &-tag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: rem(12) rem(20);
      gap: rem(8);

      width: rem(182);
      height: rem(32);

      background: rgba(255, 255, 255, 0.3);
      border-radius: rem(150);
    }

    &-title{
      font-size: rem(12);
      line-height: normal;
      font-weight: 500;
      color: var(--color-white);

      @include tablet{
        font-size: rem(16);
      }
    }

    &-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(16);

      width: rem(118);
      height: auto;
    }

    &-value{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: rem(6);

      min-width: 0;
      height: rem(60);

      font-weight: 400;
      font-size: rem(16);
      line-height: rem(21);

      color: rgba(255, 255, 255, 0.6);

      @include tablet{
        font-size: rem(60);
      }

      span{
        height: rem(60);
        font-weight: 600;
        font-size: rem(60);
        line-height: rem(77);
        color: var(--color-white);

        // @include tablet{
        //   font-size: rem(16);
        //   font-weight: 500;
        // }
      }
    }

    &-label{
      white-space: nowrap;
      font-family: var(--font-family-accent);
      font-size: 16px;
      line-height: 20px;
      color: var(--color-white);
      font-size: rem(16);

      @include tablet{
        font-size: rem(18);
      }
    }
  }
  &__splide{
    position: relative;
    width: 100%;
    overflow: hidden;

    @include tablet{
      @include visually-hidden;
    }

    &__list{
      display: flex;
      align-items: flex-end;
      overflow: hidden;
    }

    &-track{
      overflow: hidden;
      position: relative;
    }

    &-slide {
      width: rem(473);
      height: rem(689);
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      z-index: 1;


      .hero__splide-slide-inner {
        width: 100%;
        height: 100%;
        transform: scale(0.458);
        transform-origin: bottom center;
        transition:
                transform 0.5s cubic-bezier(0.65, 0, 0.35, 1),
                opacity 0.5s ease-in-out;
        will-change: transform, opacity;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: rem(20);
        }
      }

      &.is-active {
        z-index: 2;

        .hero__splide-slide-inner {
          transform: scale(1);
          opacity: 1;
        }
      }

      &.slide-offset .hero__splide-slide-inner {
        transform: scale(0.458) translateX(rem(280)) !important;

        @include container{
          transform: scale(0.458) translateX(rem(260)) !important;
        }
      }

      &.slide-previous .hero__splide-slide-inner {
        transform: scale(0.458) translateX(rem(-300)) !important;
        z-index: 0;
      }
    }


  }

  &__main{
    display: flex;
    justify-content: space-between;
    min-width: rem(514);
    position: relative;

    @include laptop{
      margin-right: rem(10);
    }

    @include tablet{
      height: 100%;
      z-index: 190;
      min-width: 100%;

    }

    &-mobile{
      width: 100%;
    }

    &-slide{
      width: 100vw !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }
  &__body{
    display: flex;
    flex-direction: column;
    gap: rem(169);

    @include container{
      gap: rem(130);
    }

    @include tablet{
      padding-inline: rem(20);
      width: 100%;
      height: 100%;
      gap:0;
      justify-content: space-between;
      padding-top: rem(32);
      padding-bottom: rem(20);
      position: relative;
      z-index: 2;
    }

  }
  &__header{
    font-size: rem(70);
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: rem(32);
    line-height: normal;
    height: rem(273);

    @include tablet{
      height: auto;
      color: var(--color-white);
    }

    @include mobile{
      font-size: rem(45);
    }

    @include mobile-s{
      font-size: rem(36);
    }

    &-print{
      [class*="Typewriter__wrapper"] {
        background: linear-gradient(90deg, #2A2A2A 0%, #0060DF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__subheader{
    margin-bottom: rem(40);
    font-size: rem(24);
    font-family: var(--font-family-accent);

    @include tablet{
      margin: 0;
      color: var(--color-gray-100);
    }

    @include mobile{
      font-size: rem(20);
    }
  }
  &__review{
    display: flex;
    column-gap: rem(12);

    .review-button {
      display: flex;
      justify-content: center;
      background: #F5F8FC;
      width: 100%;
    }

    .review-button:hover {
      background: #EDF2F7;
    }

    @include tablet{
      column-gap: rem(17);
    }

    &-logo{
      margin-right: 8px;
    }
  }
  &__button{
    width: 100%;
    line-height: rem(17);
    padding-block: rem(26) !important;
    font-size: rem(24);

    @include tablet{
      padding-block: rem(19) !important;

    }

    &--arrow{
      min-width: rem(69);
      aspect-ratio: 1;

      @include tablet{
        min-width: rem(55);
      }
    }

    &-wrap{
      padding-inline: rem(20);
      padding-bottom: rem(20);
    }

    &--mobile{
      position: absolute;
      z-index: 100;
      bottom: rem(20);
      width: 100%;
      padding-inline: rem(20);
    }
  }

  &__mobile-extra{
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    margin-bottom: rem(100);
  }
  &__mobile-video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
    backdrop-filter: blur(8px);
  }
}


.splide__pagination{
  gap: rem(8);
  bottom: -45px !important;
}
.splide__pagination__page{
  width: rem(8);
  aspect-ratio: 1;
  opacity: 1 !important;
  border-radius: rem(5) !important;
  transition:
          width 0.4s cubic-bezier(0.65, 0, 0.35, 1),
          background-color 0.4s ease !important;
      &.is-active{
        width: rem(40);
        background-color: var(--color-blue) !important;
      }
}